.container-all-GrandcanyonChonburi {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-all-GrandcanyonChonburi {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-GrandcanyonChonburi {
  width: 80%;
}
.GrandcanyonChonburi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.GrandcanyonChonburi-picture {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid black;
}

.GrandcanyonChonburi-location {
  margin-right: 710px;
  margin-top: 20px;
  margin-bottom: 50px;
}
