.container-EditProfile {
  margin-top: 35px;
}
.card-EditProfile {
  width: 600px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
}
.header-EditProfile {
  padding: 10px;
  border-bottom: 1px solid silver;
}
.header-EditProfile h1 {
  margin-bottom: 10px;
}
.content-EditProfile {
  margin-top: 20px;
  padding: 10px;
}

.file-Picture {
  display: none;
}
.content-EditProfile button {
  margin-right: 100px;
  font-size: 1.2rem;
  color: #1877f2;
}
.content-EditProfile button:hover {
  color: #1568d3;
}
.img-EditProfile {
  display: flex;
  justify-content: center;
}
.container-EditProfile img {
  width: 200px;
  border-radius: 100%;
}
