.container-all-BaanKangWatChiangMai {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-all-BaanKangWatChiangMai {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-BaanKangWatChiangMai {
  width: 80%;
}
.BaanKangWatChiangMai-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.BaanKangWatChiangMai-picture {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid black;
}

.BaanKangWatChiangMai-location {
  margin-right: 710px;
  margin-top: 20px;
  margin-bottom: 50px;
}
