.container-startPost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: antiquewhite;
  outline: 1px solid red;
  padding: 30px;
}
.card-startPost {
  width: 40%;
  height: 100px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}
.card-startPost-top {
  display: flex;
  outline: 1px solid red;
}
.card-startPost-top i {
  font-size: 35px;
}
.card-startPost-top form {
  display: flex;
  margin-left: 10px;
  outline: 1px solid red;
}
.card-startPost-top form input {
  border: none;
  outline: none;
}

.card-startPost-bottom {
  display: flex;
  justify-content: space-between;
}
